// Buttons
.btn {
	font-size: $font-size-tiny;
	border: none;
	outline: none;
	line-height: 1;
	box-shadow: none;
	border-radius: 0;
	color: $color-white;
	padding: 1rem 1.5rem;
	background: $color-primary;
	font-weight: $font-weight-medium;
	transition: all 0.4s ease-out;

	&.radius { border-radius: .4rem; }
	&.btn-full { width: 100%; }

	&.btn-flex {
		display: flex;
		align-items: center;
	}
	&.btn-white {
		background: white;
		color: $color-dark3;
	}
	&.btn-large {
		font-size: $font-size-large;
		padding: 1.2rem 2rem;
	}
}
