.form-control {
	height: auto;
	font-size: 14px;
	padding: 8px 12px;
	min-width: 22rem;
}

.otpForm {
	display: flex;
	align-items: center;
	margin-bottom: 10px;

	.form-control {
		flex-grow: 1;
	}
	.btn {
		font-size: 15px;
		flex-shrink: 0;
		font-weight: 600;
		line-height: 20px;
		flex-basis: 14rem;
		margin-left: -1px;
	}
}

.custom-select {
	font-size: 14px;
	height: auto;
	padding: 12px;
}
