    <header class="mainHeader inner">
        <div class="searchInputForm">
            <form>
                <span class="material-icons">search</span>
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
        <div class="dashboardMenus">
            <a href="#" class="link"><i class="material-icons">mail_outline</i></a>
            <a href="#" class="link"><i class="material-icons">notifications</i></a>
            <div class="profileWidget" role="group">
                <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span>David Grey</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Settings</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </header>
    