    <header class="mainHeader inner">
        <div class="searchInputForm">
            <form>
                <span class="material-icons">search</span>
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
        <div class="dashboardMenus">
            <a href="#" class="link"><i class="material-icons">mail_outline</i></a>
            <a href="#" class="link"><i class="material-icons">notifications</i></a>
            <div class="profileWidget" role="group">
                <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span>David Grey</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="#">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Logout</a>
                </ul>
            </div>
        </div>
    </header>
    