    <header class="mainHeader">
        <div class="mainHeader__logo">
            <img src="img/logo.jpg" alt="Virtual-E">
        </div>

        <div class="mainHeader__menu">
            <ul>
                <!-- <li><a href="#"><i class="material-icons">cottage</i></a></li> -->
                <li class="homeIcon"><a href="#"><img src="img/home-icon.jpg" alt="Home" /></a></li>
                <li><a href="#">App</a></li>
                <li><a href="#">Explore</a></li>
                <li><a href="#">Course</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </header>