<aside class="sidebar">
    <div class="logoBox">
        <img src="img/logo-2.jpg" alt="logo">
    </div>

    <nav class="sidebar__nav">
        <a href="#" class="active">
            <span>Home</span>
            <span class="material-icons">home</span>
        </a>
        <a href="#">
            <span>Practice</span>
            <span class="material-icons">contact_page</span>
        </a>
        <a href="#">
            <span>Bookmark</span>
            <span class="material-icons">menu</span>
        </a>
        <a href="#">
            <span>Settings</span>
            <span class="material-icons">settings</span>
        </a>
        <a href="#">
            <span>Sample Paper</span>
            <span class="material-icons">text_snippet</span>
        </a>
        <a href="#">
            <span>Quiz</span>
            <span class="material-icons">live_help</span>
        </a>
        <a href="#">
            <span>Subscription</span>
            <span class="material-icons">credit_score</span>
        </a>
    </nav>
</aside>
